@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: #04031c;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

$bg-color: #070626;
$transition-color: #04031c;
$spacer-color: rgba(255, 255, 255, 0.20);
$alias-color: rgb(40, 113, 231);
$link-and-text-color: #b3b8d4;
$property-bg-color: rgba(255, 255, 255, 0.05);

body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-family: 'Roboto', sans-serif;
}



#root {
  height: 100%;
  background: linear-gradient(90deg, $transition-color 0% 50%, $bg-color 50% 0%);

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .centerapp {
    @media screen and (max-width:1080px) {
      width: 100vw !important;
    }
    width: calc(100vw - ((100vw - 500px) / 500px)) !important;
    height: 100%;
    margin: auto !important;
    display: flex !important;
  }
}

.app {
  height: 100%;
  display: flex;
  position: relative;
}

.main-body {
  color: $link-and-text-color;
  background-color: $bg-color;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .main-content {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;

    .spacer {
      background-color: $spacer-color;
      height: .1rem;
    }

    .link {
      color: $link-and-text-color;
      text-decoration: none;
      border-bottom: 1px dotted $link-and-text-color;
      &:hover {
        color: #dee2ec;
      }
    }

    .aliasesTitle {
      color: #b3b8d4;
      font-size: 1.3rem;
    }

    .aliases {
      display: inline-block;
      border-radius: .5rem;
    }

    .alias {
      display: inline-block;
      background-color: $alias-color;
      color: rgb(0, 0, 0);
      padding: 0.2rem .5rem 0.2rem .5rem;
      margin: .2rem;
      font-size: .8rem;
      border-radius: .5rem;

      .link {
        color: #0f0f0f;
        border-bottom: 1px dotted #0f0f0f;
      &:hover {
          color: #dee2ec;
        }
      }
    }

    .type {
      display: inline-block;
      background-color: rgb(34, 204, 128);
      color: rgb(0, 0, 0);
      padding: 0.2rem .5rem 0.2rem .5rem;
      margin: .2rem;
      font-size: .8rem;
      border-radius: .5rem;
    }

    .component {
      background-color: rgb(9, 8, 52);
      line-height: 1rem;
      padding: 0.5rem;
      margin: 1rem;
      border-radius: .5rem;
    }

    .componentName {
      font-size: 1.3rem;
    }


    .description {
      padding-top: .5rem;
    }

    .key {
      display: inline-block;
    }

    .property {
      background-color: $property-bg-color;
      padding: 0.5rem;
      border-radius: .5rem;
      margin-top: 1.5rem;
    }
  }
}