@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$sidebar-bg-color: #04031c;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(#0c1e35, 0.95);
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import '~react-pro-sidebar/dist/scss/styles.scss';

$bg-color: #070626;
$transition-color: #04031c;
$spacer-color: rgba(255, 255, 255, 0.20);
$alias-color: rgb(40, 113, 231);
$link-and-text-color: #b3b8d4;
$link-hover-color: #dee2ec;
$property-bg-color: rgba(255, 255, 255, 0.05);
$link-color: #0f0f0f;
$primitive-type: rgb(34, 204, 128);
$argument-color: $primitive-type;
$component-bg-color: rgb(9, 8, 52); 
$body-color: #353535;
$black: rgb(0, 0, 0);

body {
  margin: 0;
  height: 100vh;
  color: $body-color;
  font-family: 'Roboto', sans-serif;
}



#root {
  height: 100%;
  background: linear-gradient(90deg, $transition-color 0% 50%, $bg-color 50% 0%);

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .centerapp {
    @media screen and (max-width:1080px) {
      width: 100vw !important;
    }
    @media screen and (min-width:1080px) {
      width: 1080px !important
    }
    
    height: 100%;
    margin: auto !important;
    display: flex !important;
  }
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .4rem;
    margin-bottom: .8rem;
    .sidebar-btn {
      display: flex;
      color: $link-and-text-color;
      align-items: center;
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    .sidebar-logo {
      width: 3rem;
      height: 3rem;
      margin-right: .3rem
    }
  }

  .main-body {
    color: $link-and-text-color;
    background-color: $bg-color;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .main-content {
      margin-left: 2rem;
      margin-right: 2rem;
      border-radius: .5rem;

      .spacer {
        background-color: $spacer-color;
        height: .1rem;
      }

      .link {
        color: $link-and-text-color;
        text-decoration: none;
        border-bottom: 1px dotted $link-and-text-color;
        &:hover {
          color: $link-hover-color;
        }
      }

      .aliasesTitle {
        color: $link-and-text-color;
        font-size: 1.3rem;
      }

      .aliases {
        display: inline-block;
        border-radius: .5rem;
      }

      .alias {
        display: inline-block;
        background-color: $alias-color;
        color: $black;
        padding: 0.2rem .5rem 0.2rem .5rem;
        margin: .2rem;
        font-size: .8rem;
        border-radius: .5rem;

        .link {
          color: $link-color;
          border-bottom: 1px dotted $link-color;
        &:hover {
            color: $link-hover-color;
          }
        }
      }

      .type {
        display: inline-block;
        background-color: $primitive-type;
        color: $black;
        padding: 0.2rem .5rem 0.2rem .5rem;
        margin: .2rem;
        font-size: .8rem;
        border-radius: .5rem;

        .link {
          color: $link-color;
          text-decoration: none;
          border-bottom: 1px dotted $link-color;
        &:hover {
            color: $link-hover-color;
          }
        }
      }

      .component {
        background-color: $component-bg-color;
        line-height: 1rem;
        padding: 0.5rem;
        margin: 1rem;
        border-radius: .5rem;
      }

      .componentName {
        font-size: 1.3rem;
        line-height: 1.5rem;
      }

      .componentDescription {
        padding-top: 1rem;
        line-height: 1rem;
      }


      .description {
        padding-top: .5rem;
      }

      .key {
        display: inline-block;
      }

      .property {
        background-color: $property-bg-color;
        padding: 0.5rem;
        border-radius: .5rem;
        margin-top: 1.5rem;
      }

      .argument {
        margin-top: 1rem;
      }
      .argumentName {
        background-color: $argument-color;
        color: $black;
        padding: 0.3rem;
        border-radius: .5rem;
        margin-top: 1.5rem;
      }

      .homepage {
        width: 100%
      }
      
      .subtitle {
        padding-top: 1rem
      }

      .command-wrapper {
        display: block;
        .command {  
          display: inline-block;
          background-color: $property-bg-color;
          padding: 0.5rem;
          margin: 1rem;
          border-radius: .5rem;
          .cmd {
            color: orange;
          }
        }
      }

      .code-block {
        display: block;
        .code-title {

        }

        code {
          display: block;
          background-color: $property-bg-color;
          padding: 0.5rem;
          margin: 1rem;
          border-radius: .5rem;;
          min-height: 5rem;
          
        }
      }
    }
  }
}
